@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/V2.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #041290;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "WilliamsLight";
  src: url("src/fonts/Williams-Light.woff") format('woff'), url("src/fonts/Williams-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Williams";
  src: url("src/fonts/Williams-Regular.woff") format('woff'), url("src/fonts/Williams-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "WilliamsBold";
  src: url("src/fonts/Williams-Bold.woff") format('woff'), url("src/fonts/Williams-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "WilliamsExtraBold";
  src: url("src/fonts/Williams-ExtraBold.woff") format('woff'), url("src/fonts/Williams-ExtraBold.ttf") format('truetype');
}

.App {
  font-family: "Williams", "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.spinButtonText {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.addNames {
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  height: calc(100% - 50px);
  padding-left: 25px;
  padding-top: 50px;
  background: rgb(18,26,56);
  background: linear-gradient(130deg, rgba(18,26,56,0.75) 0%, rgba(0,0,255,0.75) 150%);
  transition: left 0.3s;
  font-weight: 400;
}

.addNames.show {
  left: calc(100% - 300px);
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.inputWrapper input {
  width: 75%;
}

.inputWrapper button {
  width: 20%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
}

input {
  padding: 0.8em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

input:focus {
  outline: none;
}

button {
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  font-family: "Williams", "Inter", sans-serif;
}

input,
button {
  font-size: 1em;
  border: 2px solid white;
  border-radius: 0;
}

.addButton {
  color: white;
  background-color: #121a38;
}

.deleteButton {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  margin: 0px 4px;
  background-image: url('./images/delete.png');
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  width: 100%;
  padding: 0 0 0 15px;
  text-align: left;
  margin-bottom: 7px;
  color: white;
  background: rgba(20, 25, 63, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

li span {
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  color: white;
  padding: 30px 30px 0px 30px;
  font-family: "WilliamsExtraBold", "WilliamsBold", "Williams", "Inter", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow:
    /* White glow */
    0 0 7px #a5a5a576,
    0 0 10px #a5a5a576,
    0 0 21px #a5a5a576,
    0 0 42px #a5a5a576,
    0 0 82px #a5a5a576,
    0 0 92px #a5a5a576,
    0 0 102px #a5a5a576,
    0 0 151px #a5a5a576;
}

.question {
  color: #041290;
  background-color: white;
  width: 60px;
}

.brand {
  color: white;
  padding: 30px;
  font-size: 20px;
  text-shadow:
    /* White glow */
    0 0 7px #a5a5a576,
    0 0 10px #a5a5a576,
    0 0 21px #a5a5a576,
    0 0 42px #a5a5a576,
    0 0 82px #a5a5a576,
    0 0 92px #a5a5a576,
    0 0 102px #a5a5a576,
    0 0 151px #a5a5a576;
}

.main {
  display: flex;
  justify-content: center;
  height: 75%;
  margin: 0 auto;
}

.wheel {
  box-shadow: 10px 5px 5px red;
}

circle:not(.dot) {
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.75));
}

circle.dot {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

text {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

#arrow {
  filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 1));
}

.arc {
  filter: drop-shadow(12px 12px 124px rgba(0, 0, 0, 0.25));
}

p.show-text {
  color: white;
  font-size: 12px;
  font-family: "Williams", "Inter", sans-serif;
  text-align: left;
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
  text-decoration: underline;
}